/**** Google Font **********/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/**** Global Variables **********/
$primary-font: "DM Sans", sans-serif;
$primary-white: #FFF;
$primary-color: #43c3D1;
$primary-black: #061123;
$secondary-color:#0284FF;
$tertiary-color:#2F4858;

body{
    font-family: $primary-font;
    font-size: 1em;
    color: $primary-black;
    font-weight: 500;
}

.btn {
    &.btn-size{
        background-color: rgba($primary-black, 0.03);
        border-color: rgba($primary-black, 0.05);
        padding: 7px 15px;
        &.active{
            border-color:  rgba($primary-black, 0.20);;
        }
        &:hover{
            border-color:  rgba($primary-black, 0.20);;
            color: $primary-black;
        }
    }
}

.product-slider {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.product-slider-thumbs {
    .swiper-wrapper {
        .swiper-slide {
            height: auto !important;
        }
    }
}